body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin-top: 4rem;
    padding: 1.5rem;
}

.card {
    width: 90%;
    margin: .5rem;
    overflow-x: hidden;
}

#filesList {
    display: inline-block;
    overflow-x: hidden;
}

.video-container {
    display: inline-block;
}